/*WARNA BACKGROUND*/
.bg-1, .bg-black         {background-color: #000000;}
.bg-2, .bg-gray          {background-color: #808080;}
.bg-3, .bg-white         {background-color: #FFFFFF;}
.bg-4, .bg-maroon        {background-color: #800000;}
.bg-5, .bg-red           {background-color: #FF0000;}
.bg-6, .bg-purpel        {background-color: #800080;}
.bg-7, .bg-fuchsia       {background-color: #FF00FF;}
.bg-8, .bg-green         {background-color: #008000;}
.bg-9, .bg-olive         {background-color: #808000;}
.bg-10, .bg-yellow       {background-color: #FFFF00;}
.bg-11, .bg-navy         {background-color: #000080;}
.bg-12, .bg-blue         {background-color: #0000FF;}
.bg-13, .bg-teal         {background-color: #008080;}
.bg-14, .bg-aqua         {background-color: #00FFFF;}
.bg-15, .bg-turquoise    {background-color: #1ABC9C;}
.bg-16, .bg-greensea     {background-color: #16A085;}
.bg-17, .bg-emerland     {background-color: #2ECC71;}
.bg-18, .bg-nephritis    {background-color: #27AE60;}
.bg-19, .bg-peterriver   {background-color: #3498DB;}
.bg-20, .bg-belizehole   {background-color: #2980B9;}
.bg-21, .bg-amethyst     {background-color: #9B59B6;}
.bg-22, .bg-wisteria     {background-color: #8E44AD;}
.bg-23, .bg-wetasphalt   {background-color: #34495E;}
.bg-24, .bg-midnightblue {background-color: #2C3E50;}
.bg-25, .bg-sunflower    {background-color: #F1C40F;}
.bg-26, .bg-orange       {background-color: #F39C12;}
.bg-27, .bg-carrot       {background-color: #E67E22;}
.bg-28, .bg-pumpkin      {background-color: #D35400;}
.bg-29, .bg-alizarin     {background-color: #E74C3C;}
.bg-30, .bg-pomegranate  {background-color: #C0392B;}
.bg-31, .bg-clouds       {background-color: #ECF0F1;}
.bg-32, .bg-silver       {background-color: #BDC3C7;}
.bg-33, .bg-concrete     {background-color: #95A5A6;}
.bg-34, .bg-asbestos     {background-color: #7F8C8D;}

/*WARNA TEKS*/
.cl-1, .cl-black         {color: #000000;}
.cl-2, .cl-gray          {color: #808080;}
.cl-3, .cl-white         {color: #FFFFFF;}
.cl-4, .cl-maroon        {color: #800000;}
.cl-5, .cl-red           {color: #FF0000;}
.cl-6, .cl-purpel        {color: #800080;}
.cl-7, .cl-fuchsia       {color: #FF00FF;}
.cl-8, .cl-green         {color: #008000;}
.cl-9, .cl-olive         {color: #808000;}
.cl-10, .cl-yellow       {color: #FFFF00;}
.cl-11, .cl-navy         {color: #000080;}
.cl-12, .cl-blue         {color: #0000FF;}
.cl-13, .cl-teal         {color: #008080;}
.cl-14, .cl-aqua         {color: #00FFFF;}
.cl-15, .cl-turquoise    {color: #1ABC9C;}
.cl-16, .cl-greensea     {color: #16A085;}
.cl-17, .cl-emerland     {color: #2ECC71;}
.cl-18, .cl-nephritis    {color: #27AE60;}
.cl-19, .cl-peterriver   {color: #3498DB;}
.cl-20, .cl-belizehole   {color: #2980B9;}
.cl-21, .cl-amethyst     {color: #9B59B6;}
.cl-22, .cl-wisteria     {color: #8E44AD;}
.cl-23, .cl-wetasphalt   {color: #34495E;}
.cl-24, .cl-midnightblue {color: #2C3E50;}
.cl-25, .cl-sunflower    {color: #F1C40F;}
.cl-26, .cl-orange       {color: #F39C12;}
.cl-27, .cl-carrot       {color: #E67E22;}
.cl-28, .cl-pumpkin      {color: #D35400;}
.cl-29, .cl-alizarin     {color: #E74C3C;}
.cl-30, .cl-pomegranate  {color: #C0392B;}
.cl-31, .cl-clouds       {color: #ECF0F1;}
.cl-32, .cl-silver       {color: #BDC3C7;}
.cl-33, .cl-concrete     {color: #95A5A6;}
.cl-34, .cl-asbestos     {color: #7F8C8D;}