.kontainer{
	margin-top: .8rem; 
}

#header{
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom:1px #EEE solid;
	align-items: center;
}

#header .baris{
	width: 90%;
}

#menu li{
	display: inline-block;
	list-style: none;

	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: .5rem;

	font-size: 1.5rem;
	font-weight: 500; 
}

@media only screen and (max-width: 60rem){
	#header > .baris > .kolom{
		text-align: center;
		align-items: center;
	}
}
@media only screen and (max-width: 36rem){
	#header > .baris > .kolom{
		text-align: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	#header > .baris > .kolom:last-child > ul li{font-size: 1.2rem;}
}

#hero{
	height: 90vh;
	/*background-color: grey;*/
	text-align: center;
}

#hero h1{
	font-size: 7rem;
}

#hero h4{
	font-weight: 300;
	font-size: 2rem;
}

#hero br{
	margin-bottom: 2rem;
}

.box-konten > div{
	width: 20%;
	padding: 1rem;
	border:1px #EEE solid;
}

#contoh{
	margin-bottom: 2rem;
}

#contoh .baris{
	flex-wrap: nowrap;
}

#contoh .kolom, #contoh-responsif .kolom{
	border:1px #DDD solid;
	border-radius: 4px;
	text-align: center;
	background-color: #EEE;
}

#contoh .kolom{
	flex-shrink: 1;
}

.bordered{
	border:1px #EEE solid;
	border-radius: 4px;
}

p{
	margin-top: 1rem;
	margin-bottom: 2rem;
}
