p{
	font-size: 1.6rem;
}

.kontainer{
	margin-top: .8rem;
	max-width: 960px;
}

#header{
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom:1px #EEE solid;
	align-items: center;
}

#header .baris{
	width: 75%;
}

#menu li{
	display: inline-block;
	list-style: none;

	margin: 0 1.5rem;

	font-size: 1.5rem;
	font-weight: 500; 
}

#menu li:last-child{
	margin-right: 0;
}

@media only screen and (max-width: 60rem){
	#header > .baris > .kolom{
		text-align: center;
		align-items: center;
	}
}
@media only screen and (max-width: 36rem){
	#header > .baris > .kolom{
		text-align: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	#header > .baris > .kolom:last-child > ul li{font-size: 1.2rem;}
}

#hero{
	height: 93vh;
	/*background-color: grey;*/
	text-align: center;
}

#hero h1{
	font-size: 7rem;
}

#hero h4{
	font-weight: 300;
	font-size: 2rem;
}

#hero br{
	margin-bottom: 2rem;
}

#box > .kolom{
	margin: .5rem .5rem 1rem .5rem;
	width: 25%;
	display: flex;
	flex-flow: column nowrap;
	border: 1px #DDD solid;
	border-radius: 3px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#box > .kolom:first-child{margin-left: 0;}
#box > .kolom:last-child{margin-right: 0;}
#box > .kolom h4 {font-weight: 800; letter-spacing: .2rem}
#box > .kolom p {flex-grow: 1; margin-top: 1rem;}

.kolom > h5, .kolom > h3{font-weight: 700; letter-spacing: .2rem}

.grid-contoh, .grid-contoh-responsif {
	margin: 1.5rem 0 1.5rem 0;
}

.grid-contoh .baris{
	flex-wrap: nowrap;
}

.wrap .baris{
	flex-wrap: wrap;
}

.grid-contoh .baris .kolom, .grid-contoh-responsif .baris .kolom{
	padding: .5rem;
	background-color: #EEE;
	color: #333;
	border: 1px #CCC solid;
	border-radius: 4px;
	text-align: center;
}

.break{margin-bottom: 2rem;}

.grid-contoh-responsif h1,
.grid-contoh-responsif h2,
.grid-contoh-responsif h3,
.grid-contoh-responsif h4,
.grid-contoh-responsif h5,
.grid-contoh-responsif h6{
	font-weight: 400;
}

.box > .baris > div[class*="box-"]{
	height: 10rem;
}

.grid-form{
	margin: 1.5rem 0;
}

.grid-form > .kolom{
	margin-left: 0;
	padding-left: 0;
}