#header{
	border-bottom: 1px #CCC solid;
}

#menu{
	padding: 2.3rem 0;
}
#menu ul{
	display: flex;
	justify-content: flex-end;
}

#menu li{
	display: inline-block;
	margin: 0 2rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1rem;
	cursor: pointer;
	/*background-color: #EEE;*/
}

#menu li:hover{
	color: #FF0038;
}

#logo{
	display: flex; 
	align-items: center;
	padding-left: 1rem;
}

@media all and (max-width: 48rem){
	#logo {justify-content: center;}
	#menu ul{justify-content: center;}
}

#jumbo{
	height: 89vh;
	/*background-color: #EEE;*/
}

#jumbo h1{
	font-weight: 600;
}

#jumbo h4{
	letter-spacing: .3rem;
	font-weight: normal;
}

#produk{margin-top: 3rem;}
#produk > div{
	width: 150px;
	padding: 1rem 1rem;
	padding-bottom: 0;
	margin: 0 1rem;
	border: 1px #DDD solid;
	border-radius: 4px;
}
#produk > div:first-child{margin-left: 0}
#produk > div:last-child{margin-right: 0}

#produk h4{font-weight: bolder; letter-spacing: .5; text-align: center;}
#produk p{font-size: 1.3rem}

@media all and (max-width: 48rem){
	#produk{justify-content: center;}
	#produk > div{
	width: 40%;
	}
}

@media all and (max-width: 36rem){
	#produk > div{
	width: 100%;
	}
}

h4{
	letter-spacing: .2rem;
	font-size: 1.7rem;
	margin-bottom: 1rem
}

#contoh{margin: 2rem 0}
#contoh .baris > div{
	padding: .3rem 0;
	text-align: center;
	background-color: #EEE;
	border: 1px #DDD solid;
	border-radius: 4px;
	cursor: pointer;
}
#contoh .baris > div:hover{
	background-color: #AAA;
}